/* line 4, ../sass/base.scss */
body, div, li, ol, p, td, th, ul {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/base.scss */
li {
  list-style: none;
}

/* line 6, ../sass/base.scss */
img {
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none;
}

/* line 7, ../sass/base.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 8, ../sass/base.scss */
html {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../sass/base.scss */
:focus {
  outline: 0;
}

/* line 10, ../sass/base.scss */
:link, :visited {
  text-decoration: none;
}

/* line 11, ../sass/base.scss */
a:active, a:hover {
  outline: 0;
}

/* line 12, ../sass/base.scss */
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: '';
}

/* line 15, ../sass/base.scss */
.pull-left {
  float: left;
}

/* line 16, ../sass/base.scss */
.pull-right {
  float: right;
}

/* line 18, ../sass/base.scss */
.show {
  display: block !important;
}

/* line 19, ../sass/base.scss */
.hide {
  display: none !important;
}

/* line 20, ../sass/base.scss */
.visible {
  visibility: visible;
}

/* line 21, ../sass/base.scss */
.invisible {
  visibility: hidden;
}

/* line 23, ../sass/base.scss */
.text-left {
  text-align: left;
}

/* line 24, ../sass/base.scss */
.text-center {
  text-align: center;
}

/* line 25, ../sass/base.scss */
.text-right {
  text-align: right;
}

/* line 27, ../sass/base.scss */
.dv {
  display: inline-block;
  vertical-align: middle;
}

/* line 28, ../sass/base.scss */
.di {
  display: inline-block;
}

/* line 29, ../sass/base.scss */
.dl {
  margin-left: 0.21333rem;
}

/* line 31, ../sass/base.scss */
.text-hide {
  border: 0;
  background-color: transparent;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

/* line 32, ../sass/base.scss */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 33, ../sass/base.scss */
.btn {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

/* line 34, ../sass/base.scss */
.btn:hover {
  text-decoration: none;
}
