@charset "UTF-8";
/*fonts icon*/
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1487057463667");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1487057463667#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1487057463667") format("woff"), url("../fonts/iconfont.ttf?t=1487057463667") format("truetype"), url("../fonts/iconfont.svg?t=1487057463667#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 24, ../sass/public.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.42667rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, ../sass/public.scss */
.icon-xiasanjiao:before {
  content: "\e67c";
}

/* line 33, ../sass/public.scss */
.icon-sousuo-sousuo:before {
  content: "\e614";
}

/* line 35, ../sass/public.scss */
h1 {
  font-size: 0.81067rem;
}

/* line 37, ../sass/public.scss */
body {
  position: relative;
  width: 16rem;
  font-size: 0;
  margin: 0 auto;
}

/* line 38, ../sass/public.scss */
.layout {
  width: 100%;
  font-size: 0.512rem;
}

/* line 39, ../sass/public.scss */
.header {
  width: 100%;
  font-size: 0.81067rem;
  padding: 0.53333rem 0.64rem;
  box-sizing: border-box;
}

/* line 4, ../sass/index.scss */
body {
  position: relative;
  width: 16rem;
  font-size: 0;
  margin: 0 auto;
  padding: 0;
}

/* line 11, ../sass/index.scss */
.layout {
  width: 100%;
  font-size: 0.512rem;
}

/* line 15, ../sass/index.scss */
.header {
  width: 100%;
  font-size: 0.81067rem;
  padding: 0.53333rem 0.64rem;
  box-sizing: border-box;
}

/*瀵艰埅*/
/* line 18, ../sass/index.scss */
.tab {
  width: 100%;
}

/* line 20, ../sass/index.scss */
.tab li {
  width: 18%;
  padding: 0.64rem 0;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

/* line 21, ../sass/index.scss */
.tab li:nth-child(1) {
  color: #d7d7c6;
  border-bottom: 0.04267rem solid #d7d7c6;
}
